<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="section-header text-center">
                <h1>{{ page.title }}</h1>
            </div>

            <div class="rte">




                {% for collection in collections %}

                <!-- {{ collection.products | json }}   -->

                <!-- <h1>{{ collection.title }}</h1> -->

                <ul style="list-style:none">
                    {% for product in collection.products %}
                    <li>

                        <div class="product-card">
                            <img src="{{ product.featured_image.src | img_url: '250x' }}" alt="">
                            <h6>
                                {{ product.title }}
                                <p>{{ product.price | money_without_trailing_zeros }}</p>
                            </h6>
                        </div>

                    </li>
                    {%- endfor -%}
                </ul>

                {% endfor %}


            </div>
        </div>
    </div>
</div>